.home{
    padding-bottom: 3em;
}
.background{
    background: url(/img/pharmacy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    height: 665px;
    background: rgba(0, 0, 0, 0);
}
.jumbo{
    padding-top: 17%;
    background: transparent;
}